/* Note: Both of the sets of CSS are not needed for the parallax effect */


/* ------------------------- Pointer Cursors -------------------------  */

.rcm-plan4-wrapper,
.cover,
[data-stat-period],
[data-accordion-toggle],
[data-button-animate-chars],
[data-swiper-prev],
[data-swiper-next],
[data-draggable-marquee-init] {
  cursor: pointer;
}

[data-draggable-marquee-init]:active {
  cursor: grabbing;
}



  
  /* ------------------------- Underline Link -------------------------  */
  
  [data-underline-link] {
    text-decoration: none;
    position: relative;
  }
  
  [data-underline-link]::before {
    content: "";
    position: absolute;
    bottom: -0.0625em;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: currentColor;
    transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
    transform-origin: right;
    transform: scaleX(0) rotate(0.001deg);
  }
  
  @media (hover: hover) and (pointer: fine) {
    [data-hover]:hover [data-underline-link]::before,
    [data-underline-link]:hover::before {
      transform-origin: left;
      transform: scaleX(1) rotate(0.001deg);
    }  
  }

